@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Caveat', cursive;
    line-height: 2;
}


h1 {
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 15px;
}

#cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

#main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    position: relative;
    color: white;
    justify-content: center;
}

#content {
    z-index: 1;
    justify-content: center;
}

#NFLlogo {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    position: absolute;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

li {
    font-size: 25px;
    font-weight: bold
    
}

#starters {
    font-size: 20px;
    font-weight: 400;
}

p {
    text-align: center;
    font-size: 35px;
}

#Recievers {
    text-align: center;
    background-color: black;
    color: white;
}

#Teams {
    font-size: 30px;
}

#Button {
    display: inline-block;
    border: 2px solid white;
    padding: 10px 30px;
    margin-top: 25px;
    background-color: #4b5163;
    color: white;
    font-size: 20px;
    opacity: 0.8;
    border-radius: 10px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
  }